* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* Basic setup for scrolling and overflow */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* Container settings */
.container {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 24px 300px 24px;
}

.ana-sayfa {
    background: url('../assets/images/tarihback.webp') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; /* تحريك الصورة إلى اليمين */
    height: 100vh;
    width: 100%;
}   

/* Header settings */
.header {
    padding: 3%; /* Padding around the header */
    backdrop-filter: blur(10px); /* Blur effect */
    box-shadow: 9px 0px 30px rgb(168, 168, 23);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 8px;
}

/* Navigation settings */
nav {
    width: 100%; /* Full width */
    height: 80px; /* Fixed height */
    display: flex; /* Flexbox layout */
    gap: 40px; /* Space between items */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    font-size: 20px; /* Font size */
}

ul li {
    display: inline-block; /* Inline block for list items */
    padding: 10px 20px; /* Padding for list items */
}

ul li a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
    font-weight: 500; /* Font weight */
    position: relative; /* Needed for hover underline effect */
}

/* Hover effect for navigation links */
nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    bottom: -4px; /* Position just below the text */
    left: 0;
    transition: width 0.3s ease; /* Smooth animation for the width */
}

nav a:hover::after {
    width: 100%; /* Expanding underline on hover */
}
